.notes-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 80px);

  &__message {
    text-align: center;
    color: #fff;
    margin: 1.5rem 0;
    font-size: 1.25rem;
  }

  &__button {
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: #ff4757;
    color: white;

    &:not(:disabled):hover {
      .notes-container__tooltip {
        visibility: visible;
        opacity: 1;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__tooltip {
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    bottom: 120%;
    left: clamp(5px, 50%, calc(100% - 50px));
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 61%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #333 transparent transparent transparent;
    }
  }
}
